<template>
    <keep-alive>
        <section>

            <div class="toolbar-container container">
                <div class="search-container">
                    <v-form @submit="onSearch">
                        <v-card class="pa-3" color="transparent" flat>
                            <v-text-field placeholder="Search" v-model="searchStr" @input="onSearch" autofocus hide-details single-line>
                                <v-btn icon @click="onSearch">
                                    <v-icon>search</v-icon>
                                </v-btn>
                                <v-icon>search</v-icon>
                            </v-text-field>
                        </v-card>
                    </v-form>
                </div>


                <div class="toolbar-buttons-container">
                    <v-btn-toggle v-model="toggle_exclusive_2" class="transparent">
                        <div v-for="(sorting, idx) in sortings" :key="idx">
                            <v-btn class="toolbar-buttons" :value="idx" flat @click="changeSort(sorting)">
                                <div>{{sorting}}</div>
                            </v-btn>
                        </div>
                    </v-btn-toggle>

                    <!-- <v-btn-toggle v-model="toggle_exclusive" class="transparent">
                    <div v-for="(category, idx) in categories" :key="idx">
                        <v-btn class="toolbar-buttons" :value="idx" flat @click="setFiltersByCategory(category)">
                            <div>{{category}}</div>
                            
                        </v-btn>
                    </div>
                </v-btn-toggle> -->

                </div>

            </div>

            <div class="mobile-buttons">
                <div>
                    <div class="text-xs-center">
                        <v-form @submit.prevent="onSearch">
                            <v-btn slot="activator" color="primary" dark>
                                Search
                            </v-btn>
                            <v-card class="pa-3" color="transparent" flat>
                                <v-text-field placeholder="Search" v-model="searchStr" @input="onSearch" autofocus hide-details single-line>
                                    <v-btn icon @click.stop="onSearch">
                                        <v-icon>search</v-icon>
                                    </v-btn>
                                    <v-icon>search</v-icon>
                                </v-text-field>
                            </v-card>
                        </v-form>

                        <v-menu transition="slide-x-transition" bottom right>
                            <v-btn slot="activator" class="teal" color="primary" dark>
                                Sort
                            </v-btn>

                            <v-list>
                                <v-list-tile v-for="(sorting, i) in sortings" :key="i" @click="changeSort(sorting)">
                                    <v-list-tile-title>{{ sorting }}</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                        <v-menu transition="slide-y-transition" bottom>
                            <v-btn slot="activator" class="teal" color="primary" dark>
                                Categories
                            </v-btn>
                            <v-list>
                                <v-list-tile v-for="(category, i) in categories" :key="i" @click="setFiltersByCategory(category)">
                                    <v-list-tile-title>{{ category }}</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </div>
                </div>

            </div>

            <div class="categories-container">

                <v-btn-toggle v-model="toggle_exclusive" class="transparent">
                    <div v-for="(category, idx) in categories" :key="idx">
                        <v-btn class="toolbar-buttons" :value="idx" flat @click="setFiltersByCategory(category)">
                            <div>{{category}}</div>

                        </v-btn>
                    </div>
                </v-btn-toggle>

            </div>


            <ul class="items-list container">
                <li class="item" v-for="item in sortedItems" :key="item._id">
                    <item-preview @getDistance="getDistance($event ,item._id)" :item="item"></item-preview>
                </li>
            </ul>
        </section>
    </keep-alive>
</template>