<<<<<<< HEAD
@font-face {
  font-family: 'Roboto Slab';
  src: url('../../src/assets/fonts/roboto/RobotoSlab-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab-bold';
  src: url('../../src/assets/fonts/roboto/RobotoSlab-Bold.ttf');
  font-style: normal;
}

.v-dialog.date-picker{
  width: min-content;
}

.bold-font{
  font-family: 'Roboto Slab-bold', serif;
  }
=======
* {
  box-sizing: border-box;
}
  @font-face {
    font-family: 'Roboto Slab';
    src: url('../../src/assets/fonts/roboto/RobotoSlab-Light.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto Slab-bold';
    src: url('../../src/assets/fonts/roboto/RobotoSlab-Bold.ttf');
    font-style: normal;
  }

  .v-dialog.date-picker{
    width: min-content;
  }

  .bold-font{
    font-family: 'Roboto Slab-bold', serif;
    }

    a{
      cursor: pointer;
    }

    .v-btn{
      min-width: 200px;
    }

    .flex-column{
      flex-direction: column;
    }
>>>>>>> 4314dc5b08cb19bd75f0e7f91f10bbf22c1554ce
