* {
  box-sizing: border-box;
}
   @font-face {
    font-family: 'varela_Round';
    src: url('../../src/assets/fonts/varela_Round/VarelaRound-Regular.ttf');
    font-style: normal;
  }

  /* @font-face {
    font-family: 'Roboto Slab-bold';
    src: url('../../src/assets/fonts/roboto/RobotoSlab-Bold.ttf');
    font-style: normal;
  } */ 

  /* @font-face {
    font-family: 'Roboto-Bold', sans-serif;
    src: url('../../src/assets/fonts/roboto/Roboto-Bold.ttf');
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../../src/assets/fonts/roboto/Roboto-Light.ttf');
    font-style: normal;
  } */

    .v-dialog.date-picker{
    width: min-content;
  }

  /* .bold-font{
    font-family: 'Roboto Slab-bold', serif;
    } */
    
    button{
      cursor: pointer;
    }

    .bold-font{
      font-family: 'Roboto-Bold', sans-serif;
      } 

      h1{
        text-transform: capitalize;
      }
    a{
      cursor: pointer;
    }

    /* .v-btn{
      min-width: 200px;
    } */

    .flex-column{
      flex-direction: column;
    }

    .clean-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  

      .align-center {
        align-items: center;
    }

    .align-flex-start {
      align-items: flex-start;
  }

  .v-menu__activator *{
    color: black;
  }
    

  